/*Registration Form*/

html
{
  height: auto;
  box-sizing: border-box;
}


body
{
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.error {
  color: rgb(252, 105, 105);
}

#frmregister
{
  margin: 0 auto;
padding-top: 64px;
max-width: 640px;
width: 94%;
padding-bottom: 9rem;
box-shadow:0 0 40px -10px #000;
height:400px;
border-radius:8px;
font-family:'Montserrat',sans-serif;
}

input[type=text], select, input[type=email], input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=submit] {
  border: 3px solid #555;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 4px;
}

#btnsubmit {
  margin-right: 10px;
}

input[type=reset] {
  border: 3px solid #555;
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 4px;
}

input[type=submit]:hover, input[type=reset]:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heading1 {
  font: 600 1.5em/1 'Raleway', sans-serif;
  color: rgba(0, 0, 0, .5);
  text-align: center;
}


/*--------------------------------------------------------------------------------------------------*/

/*Navbar Design*/

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  display: inline-block;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  position: relative;
}

nav a {
  float: left;
  display: block;
  color: #444;
  text-align: center;
  padding: 0px 15px;
  text-decoration: none;
  cursor: pointer;
  padding: 15px;
  font-family: "Arial", "sans-serif";
}

nav a:hover {
  background-color: #ebedee;
}

.creden {
  margin-top: 15px;
  margin-left: 5px;
  float: right;
  background-color: #fff;
  font-size: 1rem;
  transition: font-family 1s linear, background-color 0.5s linear;
  -webkit-transition: font-family 1s linear, background-color 0.5s linear;
  /*Safari Users*/
}

#logo {
  font-size: 2.1rem;
  font-family: "Impact";
  transition: background-color 1.5s linear;
  -webkit-transition: background-color 1s linear;
  /*Safari Users*/
}

.link {
  margin-top: 15px;
  transition: background-color 1.5s linear;
  -webkit-transition: background-color 1s linear;
  /*Safari Users*/
}

/*--------------------------------------------------------------------------------------------------*/

/*Footer Design*/

footer {
  background-color: #009688;
  width: 100%;
  height: 20%;
  position:absolute;
   bottom:0;
  right: 0;
  left: 0;
  font-family: "Arial Rounded MT Bold";
  font-size: 15px;
}

.footer-bottom {
  background: rgba(51, 51, 51, 0.08);
  clear: left;
  position: absolute;
  bottom: 0;
  width: 100%
}

.footer-bottom ul li {
  list-style-type: none;
  display: inline;
}

.footer-bottom ul, span {
  display: inline;
}

.footer-bottom ul {
  margin-left: 65%;
}

.footer-bottom img {
  transition: background-color 1.5s linear;
  -webkit-transition: background-color 1s linear;
}

.footer-bottom img:hover {
  background-color: #009688;
}

.footer-container {
  float: left;
  width: 25%;
  height: auto;
  color: #f5f5f5;
  line-height: 1rem;
  font-size: 15px;
  margin-left: 5%;
  font-size: 15px;
}

.footer-container p {
  font-family: "AR ESSENCE";
}

.footer-container h3 {
  font-family: "Berlin Sans FB Demi";
  text-decoration: underline;
}

.footer-link {
  width: 10%;
}

.footer-link li {
  list-style-type: none;
  line-height: 1.2;
}

.footer-link a {
  text-decoration: none;
  color: white;
}

.footer-link a:hover {
  color: #90caf9;
}
/*--------------------------------------------------------------------------------------------------*/
/*Modal Form js Login*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#error-validation
{
    color: #e57373;
    font-family: "safety";
    font-size:15px;
}
